.reg-btn{
    background-color:#2cafe3 !important ;   
    font-size: large;
   }
   hr{
       color: #a6a5a5 !important;
   
   }
   .regdiv{
      
   
       text-align: center;
       align-items: center;
   }