<div class="bg position-relative">
    <div class="overlay-bg position-absolute top-0 w-100">

    </div>
    <div class="position-relative z-3 m-7 ">
        <h1 class="text-white text-center">Trip Planner</h1>
        <h3 class="text-light mt-3 text-center ">Your Next Journey, Optimized</h3>
        <p class="text-light mt-3 text-center fs-5 w-75 m-auto gray-light">Build, personalize, and optimize your itineraries with our free  trip planner. </p>
    <p class="text-light  text-center fs-5 w-75 m-auto gray-light">Designed for vacations, workations, and everyday adventures.</p>
    </div>
</div>