
<nav class="navbar navbar-expand-lg bg-color py-3" [class]="navbarClass" >
    <div class="container">
      <a class="navbar-brand" ><i class="fa-solid fa-plane fs-3" style="color: #fafafa;"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link active fs-5 text-white" aria-current="page" routerLinkActive="text-white" routerLink= "/home" [routerLinkActiveOptions]="{'exact' :  true}">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link fs-5 text-white" routerLink="review" routerLinkActive="text-white" >Review</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link fs-5 text-white"  routerLinkActive="text-white" >History</a>
          </li>
        </ul>
       
        <div class="nav-item  me-3" >
          <a class="nav-link fs-5 "  >
           <i class="fa-solid fa-user fa-lg  me-3 rounded-circle bg-user" style="color:#ffffff"></i>
          </a>
        </div>
        <a class="Logout-btn px-4 py-2  text-white fs-6"(click)="handlelogout()" *ngIf="service.isLogin" > Log Out</a>
        <a class="Logout-btn px-4 py-2  text-white fs-6" routerLink="/auth"   *ngIf="!service.isLogin"> Log In</a>

    
      </div>
    </div>
  </nav>
 