.btn-color{
    background-color: rgb(27, 157, 226);
}
.add-btn{
    background-color:#065179 ;
}
.table{
    width: 98% !important;
}
.custom-padding  {
    padding: 10px; /* Adjust the padding value as needed */
  }