<div class="row gx-0 " >
    <div class="col-3 bg ps-3 ">
      <h3 class="mt-3 text-white" >Dashboard <i class="fa-solid fa-chart-line" style="color: #ffffff;"></i></h3>
      <hr class="text-light">
      <h5 class="py-3 text-white" (click)="dashfun()">
        <i class="fa-solid fa-table-columns" style="color: #ffffff;"></i>
  
        Dashboard</h5>
      <h5 class="py-3 text-white" (click)="cites()">
        <i class="fa-solid fa-tree-city" style="color: #ffffff;"></i>
  
        Cities</h5>
      
      <h5 class="py-3 text-white" (click)="hotels()" >
        <i class="fa-solid fa-hotel" style="color: #ffffff;"></i>
        Hotels</h5>
      
  
  
      <h5 class="py-3 text-white" (click)="travels()">
        <i class="fa-solid fa-plane-circle-check" style="color: #ffffff;"></i>
        Travels</h5>
      <h5 class="py-3 text-white" (click)="addadminfun()">
        <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
        
        Add Admin</h5>
  
  
  
    </div>
    <div class="col-9 ps-3 py-3">
      <app-dash *ngIf="dash"></app-dash>
      <app-cities *ngIf="city" ></app-cities>
      <app-hotels *ngIf="hotel"></app-hotels>
      <app-addadmin *ngIf="addadmin"></app-addadmin>
  
      <app-travels *ngIf="travel"></app-travels>
  
  
  
    </div>
  
  </div>